@model LS_Shop.ViewModels.CartViewModel
@using LS_Shop.Infrastructure
@{
    ViewBag.Title = "Twój koszyk";
}

<div class="row">
    <div class="col-lg-12 col-xs-12">
        @if(TempData["CartMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["Message"]
            </div>
        }
            <table class="table">
                <thead>
                    <tr>
                        <th>Produkt</th>
                        <th>Nazwa</th>
                        <th>Ilość</th>
                        <th>Cena</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.PositionCart)
                    {
                        <tr>
                            <td><img src="@Url.ImagesOfProductsPath(product.Product.NameOfImage)" width="50" height="50"  class="img-fluid"/></td>
                            <td><a href="@Url.Action("Details", new { controller = "Product", productId = product.Product.ProductId })">@product.Product.Name</a></td>
                            <td>@product.Amount szt.</td>
                            <td>@product.Value.ToString("c")</td>
                            <td>@Html.ActionLink("Usuń", "DeleteFromCart", new { controller = "Cart", productId = product.Product.ProductId }, new { @class = "btn btn-danger" })</td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (Request.IsAuthenticated)
            {
                <table class="table">
                    <tr>
                        <th>W sumie: @Model.TotalValue.ToString("c")</th>
                        <td><button class="btn btn-primary" href="@Url.Action("CreateOrder", "Cart")">Zamów</button></td>
                    </tr>
                </table>
            }
            else
            {
                <div class="alert alert-danger text-center">Zaloguj się aby złożyć zaówienie</div>
            }
    </div>
</div>


