@model IEnumerable<LS_Shop.Models.Order>

@{
    ViewBag.Title = "Historia zamówień";
}

<div class="row">
    <div class="col-lg-12 col-xs-12">
        @if (Model.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Stan</th>
                        <th>Dane wysyłkowe</th>
                        <th>Telefon</th>
                        <th>Uwagi</th>
                        <th>Łączny koszt</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var zamowienie in Model)
                    {
                        <tr>
                            <td><a href="@Url.Action("OrderDetails", "Cart", new { id = zamowienie.OrderId })">@zamowienie.DateOfAddition.ToString("dd-MM-yyyy")</a></td>
                            <td>@Html.DisplayFor(o => zamowienie.OrderStatus)</td>
                            <td>
                                @zamowienie.FirstName @zamowienie.LastName<br />
                                @zamowienie.Street <br />
                                @zamowienie.PostalCode @zamowienie.City<br />
                            </td>
                            <td>@zamowienie.PhoneNumber</td>
                            <td style="max-width: 200px;">@zamowienie.Comment</td>
                            <td>@zamowienie.OrderValue.ToString("c")</td>
                            <td>@Html.ActionLink("Szczegóły", "OrderDetails", "Cart", new { id = zamowienie.OrderId }, new { @class = "btn btn-primary" })</td>
                        </tr>
                    }
                    </tbody>
                </table>
        }
        else
        {
            <div class="alert alert-danger text-center font-weight-bold">
                Brak zamówień.
            </div>
        }
     </div>
</div>

