@model LS_Shop.Models.IndexViewModel
@{
    ViewBag.Title = "Moje konto";
}

@if (TempData["message"] != null)
{
    <div class="alert alert-success text-center">
        @TempData["message"]
    </div>
}

<h2>Dane kontaktowe</h2>
<hr />

<div class="col-xs-12">
    @using (Html.BeginForm("ChangeProfile", "Manage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label>Imię: </label>
            @Html.TextBoxFor(o => o.UserData.FirstName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Nazwisko: </label>
            @Html.TextBoxFor(o => o.UserData.LastName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Adres: </label>
            @Html.TextBoxFor(o => o.UserData.Street, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Miasto: </label>
            @Html.TextBoxFor(o => o.UserData.City, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Telefon kontaktowy: </label>
            @Html.TextBoxFor(o => o.UserData.PhoneNumber, new { @class = "form-control" })
        </div>
        <input type="submit" value="Zapisz" class="btn btn-success" />
    }
    <br />

    <h2>Zmień hasło</h2>
    <hr />

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label>Stare hasło</label>
            @Html.PasswordFor(o => o.ChangePasswordViewModel.OldPassword, new { @class = "form-control" })
            <div class="text-danger">
                @Html.ValidationMessageFor(o => o.ChangePasswordViewModel.OldPassword)
            </div>
        </div>
        <div class="form-group">
            <label>Nowe hasło</label>
            @Html.PasswordFor(o => o.ChangePasswordViewModel.NewPassword, new { @class = "form-control" })
            <div class="text-danger">
                @Html.ValidationMessageFor(o => o.ChangePasswordViewModel.NewPassword)
            </div>
        </div>
        <div class="form-group">
            <label>Potwierdź hasło</label>
            @Html.PasswordFor(o => o.ChangePasswordViewModel.ConfirmPassword, new { @class = "form-control" })
            <div class="text-danger">
                @Html.ValidationMessageFor(o => o.ChangePasswordViewModel.ConfirmPassword)
            </div>
        </div>
        <input type="submit" class="btn btn-success" value="Zmień hasło" />
    }
</div>