<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title — LS-Shop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="~/Styles/styles.css" rel="stylesheet" />*@
    @Styles.Render("~/Styles/styles.css")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-brand">LS-Shop</div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNav">
                <ul class="nav navbar-nav mr-auto">
                    <li>@Html.ActionLink("Strona główna", "Index", new { controller = "Home" }, new { @class = "nav-link" })</li>

                </ul>
                <div class="navbar-right" style="margin-right:10%;">
                    @using (Html.BeginForm("Search", "Search", FormMethod.Get))
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.TextBox("id", ViewBag.CurrentFilter as string)</li>
                            <li><input type="submit" value="Search" /></li>
                        </ul>
                    }
                </div>
                @Html.Partial("_LoginPartial")
                

            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-lg-2 col-xs-12 col-sm-12 col-md-12 sidebar-categories">
            Kategorie
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Kategoria 1</li>
                <li class="list-group-item">Kategoria 2</li>
                <li class="list-group-item">Kategoria 3</li>
                <li class="list-group-item">Kategoria 4</li>
                <li class="list-group-item">Kategoria 5</li>
            </ul>
        </div>
        <div class="container body-content col-lg-9 col-sm-12 col-xs-12 col-md-12">
            <h1>@ViewBag.Title</h1>
            <hr />
            <div class="jumbotron">
                @RenderBody()
            </div>
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year — Marcin Drozd, Miłosz Kulesza, Michał Fabrowski</p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
