<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title — LS-Shop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @Styles.Render("~/Styles/styles.css")
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    @Scripts.Render("~/Scripts/navbar.js")
 
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-brand">LS-Shop</div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNav">
                <ul class="nav navbar-nav mr-auto">
                    <li>@Html.ActionLink("Strona główna", "Index", new { controller = "Home" }, new { @class = "nav-link" })</li>

                </ul>
                <div class="navbar-expand" style="margin-right:5%;">
                    @using (Html.BeginForm("Search", "Search", FormMethod.Get))
                    {
                        <ul class="nav navbar-nav" style="margin-top: 3px">
                            <li>@Html.TextBox("id", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Wyszukaj produkt", style = "background-color: lightgray;" })</li>
                            <li ><input id="search" type="image" value="Wyszukaj produkt" src="~/Images/lupa.png" width="38" height="38" style="background-color:rgba(52, 58, 64, 0.5); border-radius: 10%; margin-left: 2px" /></li>
                        </ul>
                    }
                
                </div>
                @Html.Partial("_LoginPartial")
            </div>
            
            <div class="navbar-expand" style="margin-left:1%;" onmouseenter="CartEnter">
                @using (Html.BeginForm("Cart", "Cart", FormMethod.Get))
                {
                    <ul class="nav navbar-nav" style="margin-top: 3px">                       
                        <li>
                            <input id="cart" type="image" src="~/Images/cart.png" width="38" height="38" style="background-color:rgba(52, 58, 64, 0.5); border-radius: 10%;" />
                            <!-- ilość produktów w koszyku - do zrobienia -->
                            <span style="background-color: lightcyan; position: relative; bottom: 10px; padding-left: 5px; padding-right: 5px; border-radius: 2px;">0</span>
                            <!-- koniec -->
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-lg-2 col-xs-12 col-sm-12 col-md-12 sidebar-categories">
            Kategorie
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Kategoria 1</li>
                <li class="list-group-item">Kategoria 2</li>
                <li class="list-group-item">Kategoria 3</li>
                <li class="list-group-item">Kategoria 4</li>
                <li class="list-group-item">Kategoria 5</li>
            </ul>
        </div>
        <div class="container body-content col-lg-9 col-sm-12 col-xs-12 col-md-12">
            <h1>@ViewBag.Title</h1>
            <hr />
            <div class="jumbotron">
                @RenderBody()
            </div>
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year — Marcin Drozd, Miłosz Kulesza, Michał Fabrowski</p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
