<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title — LS-Shop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @Styles.Render("~/Styles/styles.css")
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    @Scripts.Render("~/Scripts/navbar.js")
 
</head>
<body style="background-color:rgba(52, 58, 64, 0.05); padding-bottom: 2%">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-brand">
                <ul class="nav navbar-nav mr-auto">
                    <li>@Html.ActionLink("LS-Shop", "Index", new { controller = "Home" }, new { @class = "nav-link", style="font-size:22px;"})</li>

                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNav" style="margin-left:2%;">
                <ul class="nav navbar-nav mr-auto">
                    @*<li>@Html.ActionLink("Strona główna", "Index", new { controller = "Home" }, new { @class = "nav-link" })</li>*@
                    @using (Html.BeginForm("Search", "Search"))
                    {
                        <ul class="nav navbar-nav" style="margin-top: 3px">
                            <li>@Html.TextBox("id", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Wyszukaj produkt", style = "background-color: lightgray;"})</li>
                            <li><input id="search" type="image" value="Wyszukaj produkt" src="~/Images/lupa.png" width="38" height="38" style="background-color:rgba(52, 58, 64, 0.5); border-radius: 10%; margin-left: 2px" /></li>
                        </ul>
                    }
                </ul>
                
                @Html.Partial("_LoginPartial")
            </div>
            
            <div class="navbar-collapse collapse" id="navbarNav" style="margin-left:1%;" onmouseenter="CartEnter">
                @using (Html.BeginForm("Cart", "Cart", FormMethod.Get))
                {
                    <ul class="nav navbar-nav" style="margin-top: 3px">                       
                        <li>
                            <input id="cart" type="image" src="~/Images/cart.png" width="38" height="38" style="background-color:rgba(52, 58, 64, 0.5); border-radius: 10%;" />
                            <!-- ilość produktów w koszyku - do zrobienia -->
                            <span style="background-color: lightcyan; position: relative; bottom: 10px; padding-left: 5px; padding-right: 5px; border-radius: 2px;">0</span>
                            <!-- koniec -->
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>
    <div class="row">
        @Html.Action("List", "Category")
        
        <div class="container body-content col-lg-9 col-sm-12 col-xs-12 col-md-12">
            <h1>@ViewBag.Title</h1>
            <hr />
            <div class="jumbotron">
                @RenderBody()
            </div>
            <hr />
            <footer>
                <p style="text-align: center">&copy; @DateTime.Now.Year — Marcin Drozd, Miłosz Kulesza, Michał Fabrowski</p>
            </footer>
            <div class="fixed-bottom" style="background-color: rgba(52, 58, 64, 0.87);">
                <ul class="list-group list-inline " style="text-align: center; display: block; white-space: nowrap; font-size: 25px">
                    <li style="display: inline-block;">@Html.ActionLink("O nas","StaticSites", "Home", new {name = "Onas"}, null)</li>
                    <li style="display: inline-block">@Html.ActionLink("Kontakt", "StaticSites", "Home", new { name = "Kontakt" }, null)</li>
                    <li style="display: inline-block">@Html.ActionLink("Pomoc", "StaticSites", "Home", new { name = "Pomoc" }, null)</li>
                    <li style="display: inline-block">@Html.ActionLink("Regulamin", "StaticSites", "Home", new { name = "Regulamin" }, null)</li>
                    <li style="display: inline-block">@Html.ActionLink("Opinie", "StaticSites", "Home", new { name = "Opinie" }, null)</li>
                </ul>
            </div>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                var form = document.getElementById('needs-validation');
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            }, false);
        })();  
    </script>
</body>
</html>
