<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title — LS-Shop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/Styles/styles.css")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    @Scripts.Render("~/Scripts/navbar.js")
</head>
<body style="background-color:rgba(52, 58, 64, 0.05); padding-bottom: 2%">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-brand">
                <ul class="nav navbar-nav mr-auto">
                    <li><a href="@Url.Action("Index", new { controller = "Home" })" class="nav-link"><img src="https://www.logolynx.com/images/logolynx/31/3124733b27eaf3910b3d1983a796ef93.png" width="50" height="50" />LS-Shop</a></li>

                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav navbar-collapse collapse" id="navbarNav" style="margin-left:2%;">
                <li class="nav-item">@Html.ActionLink("O nas", "StaticSites", "Home", new { name = "Onas" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Kontakt", "StaticSites", "Home", new { name = "Kontakt" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Pomoc", "StaticSites", "Home", new { name = "Pomoc" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Regulamin", "StaticSites", "Home", new { name = "Regulamin" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Opinie", "StaticSites", "Home", new { name = "Opinie" }, new { @class = "nav-link" })</li>
            </ul>

            <div class="navbar-collapse collapse" id="navbarNav" style="margin-left:1%;" onmouseenter="CartEnter">
                <ul class="navbar-nav navbar-collapse">
                    @Html.Partial("_LoginPartial")
                    @using (Html.BeginForm("Cart", "Cart", FormMethod.Get))
                    {
                            <li>
                                <input id="cart" type="image" src="~/Images/cart.png" width="38" height="38" style="background-color:rgba(52, 58, 64, 0.5); border-radius: 10%;" />
                                <!-- ilość produktów w koszyku - do zrobienia -->
                                <span style="background-color: lightcyan; position: relative; bottom: 10px; padding-left: 5px; padding-right: 5px; border-radius: 2px;">0</span>
                                <!-- koniec -->
                            </li>
                    }
                    </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        @Html.Action("List", "Category")
        <div class="container body-content col-xl-9 col-lg-9 col-md-7 col-sm-12 col-xs-12">
            <h1>@ViewBag.Title</h1>
            <hr />
            <div class="jumbotron">
                @RenderBody()
            </div>
            <hr />
            <footer>
                <p style="text-align: center">&copy; @DateTime.Now.Year — Marcin Drozd, Miłosz Kulesza, Michał Fabrowski</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
