@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: lightblue;">
                <img src="~/Images/user.png" width="30" height="30" /> Witaj, @User.Identity.Name
            </a>
            <div class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdown">
                @Html.ActionLink("Moje konto", "Index", "Manage", null, new { @class = "nav-link dropdown-item bg-secondary" })
                <a href=" @Url.Action("History", "Cart")" class="nav-link dropdown-item bg-secondary">Historia zamówień</a>
                @if (User.IsInRole("Administrator") || User.IsInRole("Pracownik"))
                {
                    @Html.ActionLink("AdminPanel", "Index", new { controller = "Admin" }, new { @class = "nav-link dropdown-item bg-secondary" })
                }
                <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link dropdown-item bg-secondary">Wyloguj</a>
            </div>
        </li>
    }
}
else
{
    <li>@Html.ActionLink("Zarejestruj", "Register", new { controller = "Account" }, new { id = "registerLink", @class = "nav-link" })</li>
    <li>@Html.ActionLink("Zaloguj", "Login", new { controller = "Account" }, new { id = "loginLink", @class = "nav-link" })</li>
}
