@model LS_Shop.Models.Product
@using LS_Shop.Infrastructure

<div class="card col-xs-12 col-md-12">
    <div class="card-header">
        <h4>@Model.Name</h4>
    </div>
    <div class="card-img">
         <img src="@Url.ImagesOfProductsPath(Model.NameOfImage)" width="160" height="160"/>       
    </div>
    <div class="card-body">
        <div class="card-text text-justify">
            @Model.Description
        </div>
        <div class="card-title">
           <b>@Model.Price.ToString("c")</b>
        </div>
        <div class="card-footer">
            @Html.ActionLink("Dodaj do koszyka", "AddToCart", new { controller = "Cart", productId = Model.ProductId }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Szczgóły", "Details", new {  controller = "Product", productId = Model.ProductId }, new { @class = "btn btn-info"})
        </div>
    </div>
</div><br />