@model LS_Shop.Models.Product
@using System.Drawing
@using LS_Shop.Infrastructure

<div class="card col-xs-12 col-md-12">
    <div class="card-header">
        <h4>@Model.Name</h4>
    </div>
    <div class="card-img">
        @using (Html.BeginForm("Details", "Product", new {controller = "Product", productId = Model.ProductId}))
        {
            <input type="image" src="@Url.ImagesOfProductsPath(Model.NameOfImage)" width="160" height="160" class="img-fluid"/>
        }
    </div>
    <div class="card-body">
        <div class="card-text text-justify">
            @Model.Description
        </div>
        <div class="card-title">
           <b>@Model.Price.ToString("c")</b>
        </div>
        <div class="card-footer">
            @if (Model.Hidden == false && Model.Quantity > 0)
            {
                @Html.ActionLink("Dodaj do koszyka", "AddToCart", new { controller = "Cart", productId = Model.ProductId }, new { @class = "btn btn-primary" })
            }
            @Html.ActionLink("Szczegóły", "Details", new {  controller = "Product", productId = Model.ProductId }, new { @class = "btn btn-info"})
        </div>
    </div>
</div><br />