@model IEnumerable<LS_Shop.Models.Category>
@{
    ViewBag.Title = "Kategorie";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Admin")">Strona główna</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Products", "Admin")">Produkty</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="@Url.Action("Categories", "Admin")">Kategorie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Orders", "Admin")">Zamówienia</a>
    </li>
    @if (User.IsInRole("Administrator"))
    {
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Users", "Admin")">Użytkownicy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Roles", "Admin")">Role</a>
        </li>
    }
</ul>

@if (TempData["message"] != null)
{
    <div class="alert alert-success font-weight-bold text-center">
        @TempData["message"]
    </div>
}

@Html.ActionLink("Dodaj", "AddCategory", new { controller = "Admin" }, new { @class = "btn btn-lg btn-success" })
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Opis</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td class="font-weight-bold">@category.CategoryId</td>
                <td>@category.Name</td>
                <td class="text-justify">@category.Description</td>
                <td>
                    @Html.ActionLink("Edytuj", "AddCategory", new { controller = "Admin", id = category.CategoryId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Usuń", "DeleteCategory", new { controller = "Admin", id = category.CategoryId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

