@model IEnumerable<LS_Shop.Models.Category>
@{
    ViewBag.Title = "Kategorie";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Admin")">Strona główna</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Products", "Admin")">Produkty</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="@Url.Action("Categories", "Admin")">Kategorie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Orders", "Admin")">Zamówienia</a>
    </li>
    @if (User.IsInRole("Administrator"))
    {
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Users", "Admin")">Użytkownicy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Roles", "Admin")">Role</a>
        </li>
    }
</ul>

@if (TempData["message"] != null)
{
    <div class="alert alert-success font-weight-bold text-center">
        @TempData["message"]
    </div>
}

@Html.ActionLink("Dodaj", "AddCategory", new { controller = "Admin" }, new { @class = "btn btn-lg btn-success" })
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Opis</th>
            <th scope="col">Ukryty</th>
            <th scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td class="font-weight-bold">@category.CategoryId</td>
                <td>@category.Name</td>
                <td class="text-justify">@category.Description</td>
                @if(category.Hidden)
                {
                    <td>Tak</td>
                }
                else
                {
                    <td>Nie</td>
                }
                <td>
                    @Html.ActionLink("Edytuj", "AddCategory", new { controller = "Admin", id = category.CategoryId }, new { @class = "btn btn-primary", style = "width: 100px;" })
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-categoryid="@category.CategoryId" style="width:100px;">Usuń</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Uwaga!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="catid">Usunięcie kategorii spowoduje także usunięcie produktów będących w niej. Czy na pewno chcesz to zrobić?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
                <a class="btn btn-danger" id="modalDeleteBtn">Tak</a>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var categoryid = button.data('categoryid'); // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var urlaction = '@Url.Action("DeleteCategory", "Admin")' + '/' + categoryid;
            jQuery("#modalDeleteBtn").attr("href", urlaction);
        })
    </script>
}