@{
    ViewBag.Title = "Strona główna";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="@Url.Action("Index", "Admin")">Strona główna</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Products", "Admin")">Produkty</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Categories", "Admin")">Kategorie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Orders", "Admin")">Zamówienia</a>
        </li>
        @if (User.IsInRole("Administrator"))
        {
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Users", "Admin")">Użytkownicy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Roles", "Admin")">Role</a>
            </li>
        }
    </ul>

<h1>Witaj w panelu administratora</h1>
