@model IEnumerable<LS_Shop.Models.Product>
@{
    ViewBag.Title = "Produkty";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Admin")">Strona główna</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="@Url.Action("Products", "Admin")">Produkty</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Categories", "Admin")">Kategorie</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Orders", "Admin")">Zamówienia</a>
    </li>
    @if (User.IsInRole("Administrator"))
    {
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Users", "Admin")">Użytkownicy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Roles", "Admin")">Role</a>
        </li>
    }
</ul>

@Html.ActionLink("Dodaj", "AddProduct", new { controller = "Admin" }, new { @class = "btn btn-lg btn-success" })
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Cena</th>
            <th scope="col">Bestseller</th>
            <th scope="col">Ukryty</th>
            <th scope="col" class="text-right">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td class="font-weight-bold">@product.ProductId</td>
                <td>@product.Name</td>
                <td>@product.Price.ToString("c")</td>
                @if (product.Bestseller)
                {
                    <td>Tak</td>
                }
                else
                {
                    <td>Nie</td>
                }
                @if (product.Hidden)
                {
                    <td>Tak</td>
                }
                else
                {
                    <td>Nie</td>
                }
                <td class="float-right">
                    @Html.ActionLink("Edytuj", "AddProduct", new { controller = "Admin", id = product.ProductId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Usuń", "DeleteProduct", new { controller = "Admin", id = product.ProductId }, new { @class = "btn btn-danger" })

                </td>
            </tr>
        }
    </tbody>
</table>