@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Role";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Admin")">Strona główna</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Products", "Admin")">Produkty</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Categories", "Admin")">Kategorie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Orders", "Admin")">Zamówienia</a>
        </li>
        @if (User.IsInRole("Administrator"))
        {
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Users", "Admin")">Użytkownicy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("Roles", "Admin")">Role</a>
            </li>
        }
    </ul>

@if(TempData["message"] != null)
{
    <div class="alert alert-success text-center font-weight-bold">
        @TempData["message"]
    </div> 
}

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nazwa</th>
            <th scope="col" class="text-right">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td class="float-right">
                    @Html.ActionLink("Użytkownicy", "UsersInRole", new { controller = "Admin", id = role.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>

