@model IEnumerable<LS_Shop.Models.ApplicationUser>
@{
    ViewBag.Title = "Użytkownicy";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Admin")">Strona główna</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Products", "Admin")">Produkty</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Categories", "Admin")">Kategorie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Orders", "Admin")">Zamówienia</a>
        </li>
        @if (User.IsInRole("Administrator"))
        {
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("Users", "Admin")">Użytkownicy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Roles", "Admin")">Role</a>
            </li>
        }
        <li>
            <a class="nav-link" href="@Url.Action("BlackList", "Admin")">Czarna lista</a>
        </li>
        <li>
            <a class="nav-link" href="@Url.Action("Settings", "Admin")">Ustawienia</a>
        </li>
    </ul>

@if(TempData["message"] != null)
{
    <div class="alert alert-success font-weight-bold text-center">
        @TempData["message"]
    </div>
}
@Html.ActionLink("Dodaj", "AddUser", new { controller = "Admin"}, new { @class = "btn btn-lg btn-success"})
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col" class="text-right">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                @if(user.LockoutEnabled)
                {
                    <td>Nieaktywny</td>
                }
                else
                {
                    <td>Aktywny</td>
                }
                <td class="float-right">
                    <a href="#" class="btn btn-danger">Dezaktywuj</a>
                </td>
            </tr>
        }
    </tbody>
</table>
